* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-size {
  width: 15rem;
}

.outline-none {
  outline: none;
  border: none;
}

.daily-needs {
  width: 150px;
  height: 286.2px;
}

.daily-needs .details {
  width: 8rem;
}

.logo-block {
  width: 11.12rem;
  height: 5.37rem;
}

.search-logo {
  width: 50px;
  height: 48px;
  background-color: white;
}

input {
  width: 36rem;
  padding: 12px 0;
}

.add {
  width: 20.96rem;
  height: 12.18rem;
}

.banner {
  width: 80rem;
  height: 14.68rem;
}

main{
  width: 80rem;
}

@media screen and (max-width: 667px) {
  .logo-block {
    display: none !important;
  }

  .add {
    width: 20rem;
    height: 12rem;
  }

  input {
    width: 17rem;
  }

  .banner {
    width: 21rem;
    height: 14.5rem;
  }

  .pad-start {
    margin-left: 82px;
  }

  .daily-needs {
    width: 220px;
    height: 286.2px;
  }

  .daily-needs .details {
    width: 11rem;
  }
}
